<app-navbar *ngIf="showNavbar"></app-navbar>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" [fullScreen]="true" >
  
  <!-- From Uiverse.io by Tsiangana -->
  
  <div class="dot-spinner">
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
  </div>
  <br>
  <span class="text-white">جاري التحميل</span>
</ngx-spinner>
<router-outlet />